{% extends 'base.html.twig' %}

{% block title %}Question page{% endblock %}

{% block body %}
<form action="{{ path('app_quiz_submit') }}" method="POST">
    <h3>{{ question.text }}?</h3>
    <div class="mb-3">
        {% for answer in answers %}
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="answer_ids[]" value="{{ answer.id }}" />
                {{ answer.text }}
            </label>
        </div>
        {% endfor %}
    </div>

    <input type="hidden" name="question_id" value="{{ question.id }}" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
